<div class="project-tab"> <!--Class "open" opens-->
    <div class="arrow" (click)="toggleTab($event.target)">
        <div class="arrow-container">
            <div class="line1"></div>
            <div class="line2"></div>
        </div>
    </div>
    
    <div class="projects-container">
        <div 
        class="project"
        *ngFor="let project of projects"
        >
            <p class="name">{{ project.name }}</p>
            <p class="date">{{ project.date }}</p>
            <button class="open" (click)="openProject(project.id)">Open</button>
            <button class="dlt" (click)="removeProject(project.id)">Delete</button>
        </div>
    </div>

    <button class="new-btn" (click)="toggleProjectUI(true)">New Project</button>
</div>

<div class="create-project-ui">
    <div class="new-project-container">
        <p class="title">Project Creation</p>
        <input [(ngModel)]="projectNameInput" type="text" placeholder="project name">
        <button class="create" (click)="createProject()">Create</button>
        <button class="cancel" (click)="toggleProjectUI(false)">Cancel</button>
    </div>
</div>

<app-confirmation *ngIf="showConfirmationUI"></app-confirmation>
