<section class="complete">
    <div class="new-todo">
        <button (click)="newTodo()">New Todo</button>
    </div>
    <div class="todo-ui"> <!--class "show" shows it-->
        <div class="todo-container">
            <h1>New Todo</h1>
            <h3>You got this!</h3>
            <input [(ngModel)]="titleInput" type="text" placeholder="Title">
            <textarea [(ngModel)]="descriptionInput" type="text" placeholder="Description"></textarea>
            <button (click)="createNewTodo()">Create</button>
            <button (click)="closeNewTodoUI()">Exit</button>
        </div>
    </div>
    <div class="projects-container" *ngIf="currentProject">
        <div
            class="todo-item"
            *ngFor="let todoItem of currentProject.todoItems"
            >
            <p class="todo-title">{{ todoItem.title }}</p>
            <p class="todo-desc">{{ todoItem.description }}</p>
            <button (click)="deleteTodo(todoItem)">Delete</button>
        </div>
    </div>
</section>

<app-confirmation *ngIf="showConfirmationUI"></app-confirmation>